<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">
  <link rel="apple-touch-icon" href="/images/favicon.png">
  <link rel="stylesheet" href="/assets/css/blog.css">
</head>
<body>

<header style="padding:20px; background:#111; color:white;">
  <a href="/" style="color:white; text-decoration:none;">Inicio</a> |
  <a href="/blog" style="color:white; text-decoration:none;">Blog</a>
</header>

<div style="padding:40px;">
  {{ content }}
</div>

</body>
</html>
